<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no" />
      <link rel="stylesheet" href="/css/bootstrap.min.css"  type="text/css"/>
      <link rel="stylesheet" href="/css/panel.css" type="text/css" />
      <link rel="shortcut icon" type="image/x-icon" href="/img/branico.ico"/>
      <link rel="stylesheet" href="/css/open-iconic-bootstrap.min.css" type="text/css" />
      <title>Panel de control</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row"></div>
      <div class="row">
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <ul class="navbar-nav">
              <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Recursos humanos<span class="sr-only">(current)</span></a>
                <div class="dropdown-menu">
                  <a class="dropdown-item">Vacaciones</a>
                  <a class="dropdown-item">Solicitud de préstamos</a>
                  <a class="dropdown-item">Vale de compra</a>
                  <a class="dropdown-item">Solicitud de permisos</a>
                  <a class="dropdown-item">Recibo de nómina</a>
                  <a class="dropdown-item">Requisición de vacantes</a>
                  <a class="dropdown-item">Reloj checador</a>
                  <a class="dropdown-item">Kardex</a>
                  <a class="dropdown-item">Plataforma de cursos</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contabilidad</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Mercadotenia</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Credito y cobranza</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Prospectos</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Ventas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Logistica</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Compras</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Tecnologias de la información</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item">Ticket's&nbsp;<span class="badge badge-dark">0</span></a>
                  <a class="dropdown-item">Requisición&nbsp;<span class="badge badge-dark">0</span></a>
                  <a class="dropdown-item">Equipos</a>
                  <a class="dropdown-item">Solicitudes&nbsp;<span class="badge badge-dark">0</span></a>
                  <a class="dropdown-item">Soporte</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><img alt="Hola" class="img-fluid rounded-circle" src="{{obj.mini}}"></a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Datos generales</a>
                  <a class="dropdown-item" href="#">Cerrar sesion</a>
                </div>
              </li>
            </ul>
        </nav>
      </div>
    </div><br /><br /><br />
    {{{body}}}
    <!--footer-->
    <footer class="footers fixed-bottom">
      <div class="container-fluid">
        <!-- First column -->
        <div class="row">
            <div class="col">
              <h5 class="title">Intranet</h5>
              <p>Bienvenido a la red interna de la empresa</p>
            </div>

          <!-- ./firt column-->
          <!-- Second column-->
          <div class="col">
            <h5>Links</h5>
            <ul class="list-inline">
              <li class="list-inline-item"><a href="#" class="badge badge-pill badge-light">Home</a></li>
              <li class="list-inline-item"><a href="#" class="badge badge-pill badge-light">Misión</a></li>
              <li class="list-inline-item"><a href="#" class="badge badge-pill badge-light">Visión</a></li>
              <li class="list-inline-item"><a href="#" class="badge badge-pill badge-light">Valores</a></li>
              <li class="list-inline-item"><a href="#" class="badge badge-pill badge-light">Terminos y condiciones</a></li>
            </ul>
          </div>
          <!-- ./Second column-->
          <!--Third column-->
          <div class="col">
            <h5>Bienvenido</h5>
            <ul class="list-inline">
              <li class="list-inline-item"> <span class="badge badge-info">{{obj.nombre}}</span></li>
              <li class="list-inline-item"> <span class="badge badge-info">{{obj.num}}</span> </li>
              <li class="list-inline-item"> <span class="badge badge-info">{{obj.correo}}</span> </li>
            </ul>
          </div>
          <!-- ./third column-->
        </div>
      </div>
    </footer>
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
