<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no" />
      <link rel="stylesheet" href="/css/bootstrap.min.css"  type="text/css"/>
      <link rel="stylesheet" href="/css/panel.css" type="text/css" />
      <link rel="shortcut icon" type="image/x-icon" href="/img/branico.ico"/>
      <link rel="stylesheet" href="/css/open-iconic-bootstrap.min.css" type="text/css" />
      <title>Panel de control</title>
  </head>
  <body>
  {{#if "logueado.comprobado == 1" }}
    <div class="container-fluid">
      <div class="row"></div>
      <div class="row">
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <ul class="navbar-nav">
              <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Recursos humanos<span class="sr-only">(current)</span></a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Vacaciones</a>
                  <a class="dropdown-item" href="#">Solicitud de préstamos</a>
                  <a class="dropdown-item" href="#">Vale de compra</a>
                  <a class="dropdown-item" href="#">Solicitud de permisos</a>
                  <a class="dropdown-item" href="#">Recibo de nómina</a>
                  {{#if "logueado.acceso == 'dios' || logueado.acceso == 'gerente' || logueado.acceso == 'Analista de recursos humanos' || logueado.wdepa == '11'"}}
                    <a class="dropdown-item" href="/requisicion">Requisición de vacantes</a>
                    <a class="dropdown-item" href="#">Reloj checador</a>
                    <a class="dropdown-item" href="#">Kardex</a>
                    <a class="dropdown-item" href="#">Plataforma de cursos</a>
                  {{/if}}
                  {{#if "logueado.acceso == 'dios' || logueado.acceso == 'gerente' || logueado.wdepa == 11"}}
                    <a class="dropdown-item" href="#">Gerente de RH</a>
                  {{/if}}
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Contabilidad<span class="sr-only">(current)</span></a>
                <div class="dropdown-menu">
                  {{#if "logueado.acceso == 'dios' || logueado.acceso == 'gerente' || logueado.wdepa == 9"}}
                    <a class="dropdown-item" href="#">Gerente de contabilidad</a>
                  {{/if}}
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Mercadotenia<span class="sr-only">(current)</span></a>
                <div class="dropdown-menu">
                  {{#if "logueado.acceso == 'dios' || logueado.acceso == 'gerente' || logueado.wdepa == 10"}}
                    <a class="dropdown-item" href="#">Gerente de mercadotecnia</a>
                  {{/if}}
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Credito y cobranza<span class="sr-only">(current)</span></a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Prospectos</a>
                  {{#if "logueado.acceso == 'dios' || logueado.acceso == 'gerente' || logueado.wdepa == 12"}}
                    <a class="dropdown-item" href="#">Gerente de credito y cobranza</a>
                  {{/if}}
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Ventas<span class="sr-only">(current)</span></a>
                <div class="dropdown-menu">
                  {{#if "logueado.acceso == 'dios' || logueado.acceso == 'gerente' || logueado.wdepa == 14"}}
                    <a class="dropdown-item" href="#">Gerente de ventas</a>
                  {{/if}}
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Logistica<span class="sr-only">(current)</span></a>
                <div class="dropdown-menu">
                  {{#if "logueado.acceso == 'dios' || logueado.acceso == 'gerente' || logueado.wdepa == 15"}}
                    <a class="dropdown-item" href="#">Gerente de logistica</a>
                  {{/if}}
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Compras<span class="sr-only">(current)</span></a>
                <div class="dropdown-menu">
                  {{#if "logueado.acceso == 'dios' || logueado.acceso == 'gerente' || logueado.wdepa == 16"}}
                    <a class="dropdown-item" href="#">Gerente de compras</a>
                  {{/if}}
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Tecnologias de la información<span class="sr-only">(current)</span></a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Ticket's&nbsp;<span class="badge badge-dark">0</span></a>
                  {{#if "logueado.acceso == 'dios' || logueado.acceso == 'Analista de sistemas' || logueado.acceso == 'Auxiliar de metodos y procedimientos' || logueado.acceso == 'gerente' || logueado.wdepa == 12"}}
                    <a class="dropdown-item" href="#">Requisición&nbsp;<span class="badge badge-dark">0</span></a>
                    <a class="dropdown-item" href="#">Equipos</a>
                    <a class="dropdown-item" href="#">Solicitudes&nbsp;<span class="badge badge-dark">0</span></a>
                    <a class="dropdown-item" href="#">Soporte</a>
                  {{/if}}
                  {{#if "logueado.acceso == 'dios' || logueado.acceso == 'gerente' || logueado.wdepa == 13"}}
                    <a class="dropdown-item" href="#">Gerente de TI</a>
                  {{/if}}
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><img alt="Hola" class="img-fluid rounded-circle" src="{{logueado.mini}}"><span class="sr-only">(current)</span></a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/cuenta">Cuenta</a>
                  <a class="dropdown-item" href="#">Directorio</a>
                  <a class="dropdown-item" href="/adiosVaquero">Cerrar sesion</a>
                </div>
              </li>
            </ul>
        </nav>
      </div>
    </div><br /><br /><br />
    {{{body}}}
    <!--footer-->
    <footer class="footers fixed-bottom">
      <div class="container-fluid">
        <!-- First column -->
        <div class="row">
            <div class="col">
              <h5 class="title">Intranet</h5>
              <p>Bienvenido a la red interna de la empresa</p>
            </div>

          <!-- ./firt column-->
          <!-- Second column-->
          <div class="col">
            <h5>Links</h5>
            <ul class="list-inline">
              <li class="list-inline-item"><a href="#" class="badge badge-pill badge-light">Home</a></li>
              <li class="list-inline-item"><a href="#" class="badge badge-pill badge-light">Misión</a></li>
              <li class="list-inline-item"><a href="#" class="badge badge-pill badge-light">Visión</a></li>
              <li class="list-inline-item"><a href="#" class="badge badge-pill badge-light">Valores</a></li>
              <li class="list-inline-item"><a href="#" class="badge badge-pill badge-light">Terminos y condiciones</a></li>
            </ul>
          </div>
          <!-- ./Second column-->
          <!--Third column-->
          <div class="col">
            <h5>Bienvenido</h5>
            <ul class="list-inline">
              <li class="list-inline-item"> <span class="badge badge-info">{{logueado.nombre}}</span></li>
              <li class="list-inline-item"> <span class="badge badge-info">{{logueado.num}}</span> </li>
              <li class="list-inline-item"> <span class="badge badge-info">{{logueado.correo}}</span> </li>
            </ul>
          </div>
          <!-- ./third column-->
        </div>
      </div>
    </footer>
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  {{/if}}
  </body>
</html>
