<div class="container">
  <form>
    <div class="form-row">
        <div class="col col-md-4 col-sm-4 col-xl-4">
          <img class="img-fluid img-thumbnail" src="{{usuario.pic}}" />
        </div>
        <div class="col col-md-4 col-sm-4 col-xl-4">
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="customFileLang" lang="es">
            <label class="custom-file-label" for="customFileLang">Seleccionar Archivo</label>
          </div>
        </div>
        <div class="col col-md-4 col-sm-4 col-xl-4">
          <label for="nombre">Nombre</label>
          <input type="text" class="form-control" id="nombre" name="nombre" value="{{usuario.nombre}}" placeholder="Nombre completo" />
        </div>
    </div>
    <div class="form-row">
      <div class="col">
        <label for="n">Número empleado</label>
        <input type="text" class="form-control" id="n" name="n" value="{{usuario.numero}}" disabled placeholder="Número de empleado" />
      </div>
      <div class="col">
        <label for="dir">Dirección</label>
        <input type="text" class="form-control" id="dir" value="{{usuario.direccion}}" name="dir" placeholder="Dirección" />
      </div>
      <div class="col">
        <label for="tel">Telefono</label>
        <input type="text" class="form-control" id="tel" value="{{usuario.telefono}}" name="tel" placeholder="Telefono" />
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <label for="rfc">RFC</label>
        <input type="text" class="form-control" id="rfc" value="{{usuario.rfc}}" name="rfc" placeholder="RFC"/>
      </div>
      <div class="col">
        <label for="curp">CURP</label>
        <input type="text" class="form-control" id="curp" value="{{usuario.curp}}" name="curp" placeholder="CURP" />
      </div>
      <div class="col">
        <label for="imss">N° de IMSS</label>
        <input type="text" class="form-control" id="imss" name="imss" value="{{usuario.imss}}" placeholder="CURP" />
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <label for="puesto">Puesto<small class="text-muted">&nbsp;Eliga su puesto de nuevo</small></label>
        <select id="puesto" class="form-control" name="puesto">
          {{#each puesto}}
              <option value="{{idPuesto}}">{{tipoPuesto}}</option>
          {{/each}}
        </select>
      </div>
      <div class="col">
        <label for="escolaridad">Escolaridad<small class="text-muted">&nbsp;Eliga su escolaridad de nuevo</small></label>
        <select class="form-control" class="form-control" id="escolaridad" name="escolaridad">
          {{#each escuela}}
            <option value="{{idEscolaridad}}">{{tipoEscolaridad}}</option>
          {{/each}}
        </select>
      </div>
      <div class="col">
        <label for="sangre">Tipo de sangre</label>
        <select class="form-control" id="sangre" name="sangre">
          <option value="{{usuario.tipoSangre}}">{{usuario.tipoSangre}}</option>
          <option value="A">A</option>
          <option value="B">B</option>
          <option value="AB">AB</option>
          <option value="O">O</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <label for="depa">Departamento<small class="text-muted">Eliga de nuevo su departamento</small></label>
        <select class="form-control" id="depa" name="departamento">
          <option value="NO">--SELECT--</option>
          {{#each departamento}}
            <option value="{{idDepartamento}}">{{departamento}}</option>
          {{/each}}
        </select>
      </div>
      <div class="col">
        <label for="ext">Extension telefonica</label>
        <input type="text" class="form-control" id="ext" value="{{usuario.ext}}" name="ext" placeholder="Extension telefonica" />
      </div>
      <div class="col">
        <label for="mail">Correo</label>
        <input type="text" class="form-control" id="mail" value="{{usuario.correo}}" name="mail" placeholder="Correo" />
      </div>
    </div><br>
    <div class="form-row">
      <div class="col"></div>
      <div class="col">
        <button class="form-control btn btn-primary" type="submit">Guardar</button>
      </div>
      <div class="col">
        <button class="form-control btn btn-danger" type="button">Cancelar</button>
      </div>
      <div class="col"></div>
    </div>
  </form>
</div>
